.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 15px;
  cursor: pointer;
  color: var(--gray-500);
}

.password-toggle:hover {
  color: var(--gray-700);
}
